[Desktop Entry]
Categories=Utility;
StartupWMClass=winbox.exe
Comment[en_US]=winbox Client
Comment=winbox Client
GenericName[en_US]=WinBox
GenericName=WinBox
Icon=${SNAP}/meta/gui/icon.png
Exec=winbox
Name[en_US]=WinBox
Name=WinBox
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-SnapInstanceName=winbox
Keywords=winebox;mikrotik;
StartupNotify=false
Terminal=false
Type=Application
